services:
  db:
    container_name: "db"
    image: postgres:14.1-alpine
    restart: always
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    networks:
      - custom

  test-db:
    container_name: "test-db"
    image: postgres:14.1-alpine
    restart: always
    environment: 
      - POSTGRES_USER=postgres-test
      - POSTGRES_PASSWORD=postgres-test
      - POSTGRES_DB=postgres-test 
    ports:
      - "5433:5432"
    networks:
      - custom




networks:
  custom:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16
